.main {
  display: flex;
  justify-content: center;
  padding: 15px;
  min-height: 100vh;
  background-image: url('../public/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}